body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    /* flex-direction: rows; */
    /* justify-content: center; */
    align-items: center;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}
.hero, .footer {
    background-color: #1F293f;
    color: #F9FAF8;
    
}
.hero {
    display: flex;
    flex-direction: column;
    padding: 24px;
}
.hero-head {
    font-size: 48px;
    font-weight: 900;
}
.hero-left p {
    font-size: 18px;
    color: #E5E7EB;
}
.blue-colour {
    background-color: #3882F6;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    padding-left: 24px;
    font-size: 24px;
    /* font-size: 24px; */
    /* color: #F9FAF8; */
}
.header-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-right: 24px;
    font-size: 18px;
    color: #E5E7EB;
    /* justify-content: space-around; */
}
.content-1 {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
}
.content-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* gap: 8px; */
}

.box-text {
    display: flex;
}
.box {
    margin: 4px;
    display: flex;
    flex-direction: column;
    width: 200px;
}
.box img {
    border: 2px solid #3882F6;
    border-radius: 10px;
}
.box p {
    text-align: center;
}
.content-3 {
    background-color: #E5E7EB;
    /* display: inline-flex; */
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin: 0 auto; */
    /* justify-content: center; */
    align-items: center;
}

.quotes {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.quoter {
    align-self: flex-end;
    font-weight: 700;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
