body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    /* flex-direction: rows; */
    /* justify-content: space-between; */
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}
.hero, .footer {
    background-color: #1F293f;
    color: #F9FAF8;
    
}
.hero {
    display: flex;
    flex-direction: column;
    padding: 24px;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    padding-left: 24px;
    font-size: 24px;
    /* color: #F9FAF8; */
}
.header-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-right: 24px;
    /* justify-content: space-around; */
}
.content-1 {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
}
.content-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-text {
    display: flex;
}

.content-3 {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    /* justify-content: center; */
    /* align-items: center; */
}

.quote {

    /* flex: auto; */
    /* align-self: center; */
}

.quoter {
    align-self: flex-end;
    font-weight: 700;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
